body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
  width: 400px;
  height: 600px;
}

#inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

#sendButton {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}

#sendButton:hover {
  background-color: #4cae4c;
}

#apiResponse {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
